data/da-tacos_metadata/da-tacos_benchmark_subset_metadata.json
data/da-tacos_metadata/da-tacos_coveranalysis_subset_metadata.json
data/da-tacos_metadata/LICENSE.txt
data/da-tacos_metadata/README.md
data/yt_id_list.csv
data/da-tacos_benchmark.csv
.vscode/launch.json
data_to_h5.ipynb
data_to_h5.ipynb
